<div>
    <div class="text-center">
        <h2 >Login</h2>
        <h4 style="color:darkgrey">Área Interna</h4>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input
          class="form-control" 
          id="email"
          required

          name="email"
        />
      </div>

      <div class="form-group">
        <label for="telefone">Senha:</label>
        <input
          class="form-control"
          id="telefone"
          required
          type="password"
          name="telefone"
        />
      </div>

      <button routerLink="../clientes" class="btn btn-success btn-md mt-1" style="width:100%;"> Login </button>
      <a routerLink="../cadastro"><button class="btn btn-success btn-md mt-1" style="width:100%; background-color:white !important; color:#FF6605"> Cadastre-se </button></a>
</div>
